input {
    width: clamp(100px, 40%, 220px);
    height: clamp(40px, 22%, 200px);
    background-color: rgb(0, 0, 0);
    border-color: #369B00;
    border-width: 3px;
    color:#369B00;
}

.flex-container-contact {
    display: flex;
    gap: 10%;
}

#message-item {
    width: clamp(220px, 100%, 420px);
    height: clamp(100px, 30%, 200px);
    height: 70px;
    margin-top: 5%;
    border-width: 5px;
}

#send-message-button {
    background-color: rgb(0, 0, 0);
    border-color: #369B00;
    border-width: 3px;
    color:#369B00;
    width: clamp(220px, 100%, 420px);
    height: 30px;
    margin-top: 5%;
}

#send-message-button:active {
    border-color: rgb(1, 62, 34);
    background-color: rgb(14, 13, 13);
    font-weight: bolder;
}

