#home-form {
    background: url(../../background.png) center center no-repeat;
    background-size: cover;
}

#home-form body {
    background-color: #393D50;
}

#home-form h1 {
    color: #E9E9E9;
    font-size: 55px;
}

#home-form h3 {
    color: #D0CCCC;
}

#home-form p {
    color: #E9E9E9;
}

#home-form h4 {
    color: #E9E9E9;
    text-decoration: underline;
    text-decoration-color: antiquewhite;
}

#home-form h4:hover {
    color: rgb(218, 185, 143);
    text-decoration: underline;
    text-decoration-color: rgb(218, 185, 143);
}
