#home-form {
    background-image: linear-gradient(140deg, rgb(6, 6, 6), rgb(28, 31, 34), rgb(9, 12, 26), rgb(17, 48, 81));
}

#home-form body {
    background-color: #393D50;
}

#home-form h1 {
    color: #E9E9E9;
    font-size: 55px;
}

#home-form h3 {
    color: #D0CCCC;
}

#home-form p {
    color: #E9E9E9;
}
