h1 {
    color: #59FF00;
}

h2 {
    color: #59FF00;
}

h3 {
    color: #59FF00;
}

h4 {
    color: #369B00;
}

h5 {
    color: #59FF00;
}

body {
    background-color: black;
}

img {
    width: 35%;
}

a {
    color: yellow;
    
}

.vertical-section {
    margin-left: 5%;
}

.darker-color {
    color: #369B00;
}

.circular-img {
    border-radius: 50%;
}

.flex-container {
    display: flex;
    margin: 0 -5px;
    gap: 0px
}

.flex-item {
    width: 20%;
    /* margin-right: -1%; */
    margin-right: 1%;
}

.mock-command-line {
    border-color: black;
    border-width: 0px;
}

.my-container {
    float: left;
    width: 100%;
}

#section1 {
    float: left;
    width: 35%;
    position: fixed;
}

#my-section2 {
    float: left;
    margin-left: 40%;
    width: 10%;
}

#my-section3 {
    float: left;
    width: 20%;
}
