p {
    color: #4CBC0F;
    font-family: 'IBM Plex Mono';
    font-size: 22px;
}

h1 {
    color: rgb(0, 0, 0);
    /* color: #59FF00; */
    /* font-size: 3vw; */
    /* font-size: clamp(29px, 3vw, 36px); */
}   

h2 {
    color: #4CBC0F;
    /* font-size: clamp(20px, 2vw, 28px); */
    font-family: 'IBM Plex Mono';
}

h3 {
    color: #4CBC0F;
    /* font-size: clamp(15px, 1.5vw, 25px); */
    font-family: 'IBM Plex Mono';
}

h4 {
    color: #4CBC0F;
    /* font-size: clamp(12px, 1.2vw, 21px); */
}

h5 {
    color: #4CBC0F;
    /* font-size: clamp(9px, 1vw, 19px); */
}

body {
    background-color: #04191C;
}

img {
    width: 60px;
    border-radius: 50%;
}

a {
    color: yellow;
}

a:hover {
    color: red;
}

.vertical-section {
    margin-left: 3%;
}

.darker-color {
    color: #317b09;
}

.white-text {
    color: white;
}

.circular-img {
    border-radius: 50%;
}

.flex-container {
    display: flex;
    margin: 0 2px;
    gap: 0px;
}

.flex-item {
    /* margin-right: -1%; */
    padding-top: 0px;
}

.mock-command-line {
    border-color: rgb(0, 0, 0);
    border-width: 0px;
}

.my-container {
    float: left;
    width: 100%;
}

.command {
    margin-bottom: 10%;
}

.gif {
    width: 30%;
}

#documentation-layout {
    margin-left: 5%;
    margin-right: 25%;
}

#flex-container-cmd {
    display: flex;
}

#flex-item-cmd {
    margin-left: 20px;
}

#no-starter-color {
    color: none;
}

.test-flex-container {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 100%;
}

#test-space {
    padding: 2%;
}

#help-flex-container {
    display: flex;
    gap: 40px; /* space between the two columns */
}

#help-flex-item {
    gap: 80px; /* vertical spacing between rows */
}

.grid {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 8px 40px; /* row gap, column gap */
}
