#home-form {
    background-color: #393D50;
}

#home-form body {
    background-color: #393D50;
}

#home-form h1 {
    color: #E9E9E9;
    font-size: 55px;
}

#home-form h3 {
    color: #D0CCCC;
}

#home-form p {
    color: #E9E9E9;
}
