h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
    size: 1px;
}

img {
    width: 50%;
    height: 50%;
}

.box {
    width: 450px;
    height: 240px;
    background-color: rgb(0, 0, 0);
    border: 4px solid rgb(0, 106, 11);
}

.side_by_side {
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: -1%;
}

