
h1 {
    font-size: 3.0rem;
    text-align: center;
  }

h2 {
    font-size: 1.8rem;
    text-align: center;
  }

h4 {
  text-align: center;
}
  
p {
    font-size: 0.9rem;
    text-align: center;
  }

.inline-block-child {
    display: inline-block;
    margin-right: 1px;
  }

.inline-block-child-right-side {
  display: inline-block;
  margin-left: 150px;
}