.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(7, 1, 34);
}

h1 {
  color: rgb(0, 1, 0);
}

h2 {
  color: green;
}

h3 {
  color: green;
}

h4 {
  color: green;
}

p {
  color:green
}

a {
  font-size: large;
  font-weight: bold;
  padding-left: 15%;
  color:rgb(226, 198, 192);
}

a:visited {
  color: rgb(236, 176, 187);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(245, 236, 61);
  background-color: transparent;
  text-decoration: underline;
}

.top_part {
  position: fixed;
}


